<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
<!--            <PatternLayout-->
<!--                    pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>-->
            <PatternLayout
                    pattern="%d %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/attentionHoggers.log"
                     filePattern="logs/app-%d{MM-dd-yyyy-hhmmsss}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n%throwable</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>